<div id="banner">
  <div class="row">
    <div class="large-5 columns">
      <h1>A new community in Nashville</h1>
      <p>This exciting new development is located just South of downtown Nashville. Several iconic establishments are located nearby including <%= link_to("Santa's Pub", "http://santaspub.com") %>, <%= link_to("Gabby's Burgers", "http://gabbysburgersandfries.com") %>, <%= link_to("Clawson's Pub and Deli", "http://www.clawsonspub.com/") %>, and <%= link_to("Eighth and Roast", "http://eighthandroast.com") %>.</p>
    </div>
    <div class="large-7 columns">
      <div class="orbit-container">
        <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 5000; slide_number: false; navigation_arrows: true">
          <li><%= image_tag("soho_commons_interior-grass-3D.jpg", size: "1280x720") %></li>
          <li><%= image_tag("soho_commons_interior-3D.jpg", size: "1280x720") %></li>
          <li><%= image_tag("soho_commons_exterior-truck-3D.jpg", size: "1280x720")  %></li>
          <li><%= image_tag("soho_commons_exterior-car-3D.jpg", size: "1280x720") %></li>
          <li><%= image_tag("soho_commons_exterior-grass-3D.jpg", size: "1280x720") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
</div>
<div id="plans">
<div class="row">
  <div class="large-9 large-centered small-12 small-centered columns">
    <div class="orbit-container">
      <ul data-orbit data-options="pause_on_hover: false; animation: slide; animation_speed: 1000; timer_speed: 10000; slide_number: false; navigation_arrows: true">
        <li><%= image_tag("PLAN_A-B.png", size: "1363x1328") %></li>
        <li><%= image_tag("PLAN_C.png", size: "1363x1328") %></li>
        <li><%= image_tag("PLAN_D-G.png", size: "1363x1328") %></li>
        <li><%= image_tag("PLAN_H-I.png", size: "1363x1328") %></li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="row">  
  <div class="row">
    <div class="large-6 large-centered columns">
        <iframe id="map" class="hide-for-small" width="317" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=502+Southgate+Ave&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Ave,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small class="hide-for-small"><a href="https://maps.google.com/maps?q=502+Southgate+Ave&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Ave,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
        <iframe id="map" class="show-for-small" width="290" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=502+Southgate+Ave&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Ave,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small class="show-for-small"><a href="https://maps.google.com/maps?q=502+Southgate+Ave&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Ave,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
      <br>
      <h2>Need more information?</h2>
      <p>Contact Clay Kelton or visit Wedgewood-Houston.com below to find out more about homes in this area</p> 
    </div>
  </div>
</div>
<br>
<br>
