
<div id="spaces" class="row hide-for-small">
  <div class="large-12 columns">
    <%= link_to(image_tag("soho_nashville_commons-front.png"), "") %>
  </div>  
</div>
<div class="large-12 show-for-small columns">
  </br>
  <%= image_tag("soho_commons-mobile.png") %>
  <h5>This exciting new development is located just South of downtown Nashville. Several iconic establishments are located nearby including <%= link_to("Santa's Pub", "http://santaspub.com") %>, <%= link_to("Gabby's Burgers", "http://gabbysburgersandfries.com") %>, and <%= link_to("Eighth and Roast", "http://eighthandroast.com") %>.</h5>
</div>
<div id="spaces" class="row hide-for-small">
  <div class="large-7 columns">
    <div class="orbit-container">
      <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 5000; slide_number: false; navigation_arrows: true">
        <li><%= image_tag("soho_commons_interior-1.png") %></li>
        <li><%= image_tag("soho_commons_interior-2.png") %></li>
      </ul>
    </div>
  </div>  
  <div id="spaces" class="large-5 hide-for-small columns">
    <h5>This exciting new development is located just South of downtown Nashville. Several iconic establishments are located nearby including <%= link_to("Santa's Pub", "http://santaspub.com") %>, <%= link_to("Gabby's Burgers", "http://gabbysburgersandfries.com") %>, and <%= link_to("Eighth and Roast", "http://eighthandroast.com") %>.</h5>
    </br>
    <h5>Contact Clay Kelton or visit Wedgewood-Houston.com below to find out more about homes in this area</h5> 
  </div>
</div>    
</br>
<div class="row">
  <div class="large-5 columns">
    <div class="large-12 large-centered columns">        
      <iframe id="map" class="hide-for-small" width="317" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=502+Southgate+Drive&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Drive,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small class="hide-for-small"><a href="https://maps.google.com/maps?q=502+Southgate+Drive&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Drive,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
      <iframe id="map" class="show-for-small" width="290" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=502+Southgate+Drive&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Drive,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small class="show-for-small"><a href="https://maps.google.com/maps?q=502+Southgate+Drive&amp;ie=UTF8&amp;hq=&amp;hnear=502+Southgate+Drive,+Nashville,+Tennessee+37203&amp;ll=36.135221,-86.767094&amp;spn=0.00519,0.010096&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
    </div>
  </div>
  <div class="large-7 hide-for-small columns">
    <div class="orbit-container">
      <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 4500; slide_number: false; navigation_arrows: true">
        <li><%= image_tag("soho_commons_exterior-1.png") %></li>
        <li><%= image_tag("soho_commons_exterior-2.png") %></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 hide-for-small columns">
    <%= link_to(image_tag("soho_nashville_commons-back.png"), "") %>
  </div>  
</div>
<div id="spaces" class="row">
  <div class="large-12 columns">
    <p>Another Ewing Capital development is located just down Southgate Drive click here to see.</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= link_to(image_tag("soho_flats-link.png"), "/home/index") %>
  </div>
</div>
</br>
</br>
