<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SoHo-Nashville" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= link_to(image_tag(@header_image), "/commons")%>
    </header>

    <%= yield %>

    <footer>
      <div id="footer">
        <div class="row">
          </br>
          <div class="large-5 columns">
            <h3>Clay Kelton Realtor, CRS</h3>
            <h4>Email: <%= link_to("clay@claykelton.com", "mailto:clay@claykelton.com") %></h4>
            <h4>Office: <%= link_to("615-371-2474", "tel:+16153712474") %></h4>
            <h4>Direct: <%= link_to("615-200-6263", "tel:+16152006263") %></h4>
          </div>
          <div class="large-6 columns">
            <p>Homes recently built by Red Horse Builders:</p>
            <div class="row"> 
              <div class="large-12 large-centered hide-for-small columns"> 
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="../1.jpg"><img src="../clearing-feature.png"></a></li>
                  <% photo_names.each do |photo| %>
                  <li><a href="<%= "../" + photo %>"><img src="<%= "../" + photo %>"></a></li>
                  <% end %>
                </ul>
              </div>
              <div style="max-width: 320px" class="small-12 small-centered show-for-small columns">  
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="../1.jpg"><img src="../clearing_feature-mobile.png"></a></li>
                  <% photo_names.each do |photo| %>
                  <li><a href="<%= "../" + photo %>"><img src="<%= "../" + photo %>"></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="large-12 columns">
              <div class="small-6 small-centered columns">
                <%= image_tag("pilkerton.png") %>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </footer>
    <div id="bottom">
      </br>
      <%= link_to(image_tag("wedgewood-houston.png"), "http://wedgewood-houston.com") %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
